<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Competitors - New Company Details</title>
  </head>
<body>
	<h1>New Company Details</h1>
	<h5 align="right"><a href="/dashboard/">Dashboard</a> | <a href="">List Companies</a> | <a href="/addnewcompany/">Add New Company</a> | <a href="">See Deals & Campaigns</a></h5>

	<form action="" method="post">
		<table align="center" border="0" cellpadding="7">
			<tr>
			  <td>Context</td>
			  <td><input type="text" name="context"></td>
			</tr>
			<tr>	
			  <td>Name</td>
			  <td><input type="text" name="name"></td>
			</tr>
			<tr>
			  <td>URL</td>
			  <td><input type="text" name="url"></td>
			</tr>
			<tr>
			  <td>Country</td>
			  <td><input type="text" name="country"></td>
			</tr>
			<tr>
			  <td>Active Since<br>(YYYY-MM-DD)</td>
			  <td><input type="text" name="active_since"></td>
			</tr>
			<tr>
			  <td>Location</td>
			  <td><input type="text" name="location"></td>
			</tr>
			<tr>
			  <td colspan="2" align="center"><input type="submit" name="submit"></td>
			</tr>
		</table>
	</form>
</body>
</html>
